html,
body,
#root {
  height: 100%;
}

.input {
  width: 200px;
}

.SearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.options-dropdown {
  border: solid black;
}
