html,
body,
#root {
  height: 100%;
}

.input {
  width: 200px;
}

.SearchBar {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  width: 400px;

  border: black solid;
}

.options-dropdown {
  border: solid black;
  max-height: 200px;
  overflow: scroll;
}

.input-section {
  padding: 10px;
  border: solid black;
  display: flex;
  justify-content: space-evenly;
  position: static;
}
